@page "/haber/ekle"
@page "/haber/duzenle/{haberId:int}"

@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment Environment

@inherits HaberEkleDuzenleModel
@inject IJSRuntime jsRun


<div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Haber @Title
        </CardHeader>
        <CardBody>
            <EditForm Model="@haber" OnValidSubmit="HaberKayit">
                <DataAnnotationsValidator />

                <div class="col-12">
                    <div class="col-md-6 float-left">
                        <div class="form-group row">
                            <label class="form-label col-md-2">Resim Seçin</label>
                            <div class="col-md-10">
                                <ImageResizer @bind-ValuePath="@haber.DosyaYolu" />
                            </div>
                            <ValidationMessage For="@(() => haber.DosyaYolu)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Haber Adı</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="haber.Adi" />
                            </div>
                            <ValidationMessage For="@(() => haber.Adi)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Haber Alt Başlığı</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="haber.AltBaslik" />
                            </div>
                            <ValidationMessage For="@(() => haber.AltBaslik)" />
                        </div>
                        <div class="form-group row">
                            <label for="Kategori" class="control-label col-md-2">Kategori Seçin</label>
                            <div class="col-md-10">
                                <InputSelect @bind-Value="@haber.YayinKategoriId" class="form-control">
                                    <option></option>
                                    @foreach (var kategori in Kategoriler)
                                    {
                                        <option value="@kategori.Id"> @kategori.YayinKategoriAdi </option>
                                    }

                                </InputSelect>
                            </div>
                            <ValidationMessage For="@(() => haber.YayinKategoriId)" />
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <div class="form-group row">
                            <label class="control-label col-md-2">Açıklama</label>
                            <div class="col-md-10">
                                <InputTextArea class="form-control" @bind-Value="@haber.Aciklama" />
                            </div>
                            <ValidationMessage For="@(() => haber.Aciklama)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Haber Şimdi Yayınlasın Mı?</label>
                            <div class="col-md-10">
                                <InputCheckbox class="form-control" @bind-Value="haber.YayinDurumu" />
                            </div>
                            <ValidationMessage For="@(() => haber.YayinDurumu)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Duyuru Kutusuna Eklensin Mi?</label>
                            <div class="col-md-10">
                                <InputCheckbox class="form-control" @bind-Value="haber.DuyuruKutusundaOlsunMu" />
                            </div>
                            <ValidationMessage For="@(() => haber.DuyuruKutusundaOlsunMu)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Slidera Eklensin Mi?</label>
                            <div class="col-md-10">
                                <InputCheckbox class="form-control" @bind-Value="haber.SlideraEklensinMi" />
                            </div>
                            <ValidationMessage For="@(() => haber.SlideraEklensinMi)" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" @onclick="HaberKayit">Kaydet</button>
                    <button class="btn btn-danger" type="reset" @onclick="Temizle">Tümünü Temizle</button>
                </div>
            </EditForm>

        </CardBody>
    </CardComponent>

</div>


@if (Haberler == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{

    <div class="col-12">

        <CardComponent cardStyle="Style.primary">

            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Haberler |
                        <a href='/haber/kategori/ekle' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> Haber Kategorisi Ekle</a>
                    </div>
                </div>

            </CardHeader>
            <CardBody>
                <div class="table-responsive">
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th class="text-center pt-3">
                                    <div class="custom-checkbox custom-checkbox-table custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                               class="custom-control-input" id="checkbox-all">
                                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Resim</th>

                                <th>Haber Adı</th>
                                <th>Haber Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var haber in Haberler)

                            {

                                
                                    <tr>
                                        <td class="text-center pt-2">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                                       id="checkbox-1">
                                                <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>@haber.DosyaYolu</td>

                                        <td>@haber.Adi</td>
                                        <td>
                                            @if (haber.YayinDurumu == true)
                                            {


                                                <div class="badge badge-success badge-shadow">Yayında</div>
                                            }
                                            else
                                            {
                                                <div class="badge badge-warning badge-shadow">Yayında Değil</div>}
                                        </td>

                                        <td>
                                            <a href="@($"haber/detay/{haber.Id}")" class="btn btn-primary">Haber Detayı</a>
                                            <a href='/haber/duzenle/@haber.Id' class="btn btn-info btn-outline-dark" role="button">Düzenle</a>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal"
                                                    @onclick="@(() => {DialogGorunur="block"; SilmeyiOnayla(haber.Id);})">
                                                Sil
                                            </button>
                                        </td>
                                    </tr>
                                


                            }
                        </tbody>
                    </table>
                </div>

            </CardBody>
        </CardComponent>

    </div>


    <ModalComponent @ref="ModalDialog">
        <ModalHeader>
            <h3 class="modal-title">Haber Silme</h3>
        </ModalHeader>
        <ModalBody>
            <h4>Bu veriyi silmek istediğinize emin misiniz ??</h4>
            <table class="table">
                <tr>
                    <td>Resim</td>
                    <td>@haber.DosyaYolu</td>
                </tr>
                <tr>
                    <td>Haber Adı</td>
                    <td>@haber.Adi</td>
                </tr>

                <tr>
                    <td>Oluşturulma Tarihi</td>
                    <td>@haber.KayitTarihi.ToString("d")</td>
                </tr>
            </table>
        </ModalBody>
        <ModalFooter>
            <button class="btn btn-danger" @onclick="@(()=>{HaberSil(); ModalDialog.Close();})">Evet</button>
            <button class="btn btn-warning" @onclick="@(()=>{ModalDialog.Close();})">Hayır</button>
        </ModalFooter>
    </ModalComponent>

}

@code {




    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

            await jsRun.InvokeVoidAsync("dataTables");
        }
    }


}


<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>