@page "/duyurular"
@inherits DuyuruModeli


@if (duyurular == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var duyuru in duyurular)
            {

                <div class="col-12 col-md-3 col-lg-3">
                    <article class="article article-style-c">
                        <div class="author-box-center align-center">
                            <img width="200" height="200" alt="@duyuru.Adi" src="/img/uploaded/@duyuru.DosyaYolu" class="rounded-circle author-box-picture">
                            <div class="clearfix"></div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="@($"duyuru/detay/{duyuru.Id}")">Duyuru</a>
                                <div class="bullet"></div> <a>@duyuru.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h2><a href="@($"duyuru/detay/{duyuru.Id}")">@duyuru.Adi</a></h2>
                            </div>
                            <div class="article-title">
                                <h2><a>@duyuru.AltBaslik</a></h2>
                            </div>
                            

                            <p class="description-cell"><div class="ellipsis">@((MarkupString) duyuru.Aciklama)</div></p>

                            <div class="article-cta">
                                <a href="@($"duyuru/detay/{duyuru.Id}")" class="btn btn-primary fas fa-chevron-right">Duyuru Detayı</a>
                            </div>

                        </div>
                    </article>
                </div>
            }

        </div>
    </div>

}


<style>
    p.description-cell {
        max-width: 500em;
    }

    div.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>