@inject IJSRuntime JSRuntime

<div class="mb-3">
    <InputFile @onclick="OpenModal" class="form-control form-control-lg" id="input1" OnChange="OnInputFileChange" multiple></InputFile>
</div>

<ShowModalComponent Title="Resim Görünümü">
    <ModalBody>
        @if (!string.IsNullOrEmpty(PreviewImagePath) && !parsing)
        {
        <div class="card">
            
            <div class="card-body">
                <center>
                    <img class="img-fluid" src="@PreviewImagePath" />
                </center>
            </div>
        </div>
        }
    </ModalBody>
</ShowModalComponent>

@if (ShowCroper)
{
    <ShowModalComponent Title="Kırpma İşlemleri" IsOpened="isOpened">
        <ModalBody>
            <div class="card">
                <div class="card-body py-0">
                    <Cropper CropperHeight="500" InitCropWidth="200" InitCropHeight="200" MaxCropedHeight="1080" MaxCropedWidth="1920"
                             @ref="cropper"
                             AspectRatio="AspectRatio"
                             RequireAspectRatio="@IsAspectRatioEnabled"
                             PureCSharpProcessing="true"
                             InputId="input1"
                             ImageFile="browserFileResizer"
                             @bind-Ratio="ratio"
                             OnSizeChanged="HandleCropSizeChanged"
                             AnimeGifEnable="true"></Cropper>
                </div>
                <div class="card-footer text-center justify-content-center">
                    @if (cropper != null)
                    {
                        <input type="range" min="@(cropper.MinRatio*100)" max="@(cropper.MaxRatio*100)"
                               value="@(ratio*100)" @oninput="OnRatioChange" placeholder="Zoom range" />}
                </div>
                <div class="card-footer flex-column">
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            Kırpma Boyutu
                        </div>
                        <span class="input-group-text">Genişlik (px)</span>
                        <div class="form-control">@CropCurrentWidth</div>
                        <span class="input-group-text">Yükseklik (px)</span>
                        <div class="form-control">@CropCurrentHeight</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input @bind="IsAspectRatioEnabled" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                        </div>
                        <span class="input-group-text">En Boy Oranı</span>
                        <input @onchange="OnAspectWidthChanged" value="@AspectWidth" type="number" class="form-control" placeholder="Genişlik Değeri Girin">
                        <span class="input-group-text fw-bold">:</span>
                        <input @onchange="OnAspectHeightChanged" value="@AspectHeight" type="number" class="form-control" placeholder="Yükseklik Değeri Girin">
                    </div>
                </div>
            </div>
        </ModalBody>
        <ModalFooter>
            <div class="card-footer">
                <button class="btn btn-success me-1" @onclick="@(async () => { isOpened = true;  await DoneCrop(); })">Değişiklikleri Onayla</button>
                <button class="btn btn-danger" @onclick="@(async () => { isOpened=false; await CancelCropAsync(); })">Vazgeç</button>
            </div>
        </ModalFooter>
    </ShowModalComponent>
}
