@inject IJSRuntime JSRuntime

<div class="mb-3">
    <Microsoft.AspNetCore.Components.Forms.InputFile @onclick="OpenModal"
               @bind-Value="@ValueInput"
               class="form-control form-control-lg"
               id="input1"
               OnChange="OnInputFileChange"
               multiple>
    </Microsoft.AspNetCore.Components.Forms.InputFile>
</div>

<ShowModal Title="Resim Görünümü">
    <ModalBody>

        @if (!string.IsNullOrEmpty(PreviewImagePath) && !parsing && previewImages.Count > 0)
        {
            <h5>Seçilen Dosyalar</h5>
            <div class="card">
                <div class="row align-items-start">

                    @foreach (var item in previewImages)
                    {
                        <div class="col-2">
                            <img class="rounded float-left"
                         src="@item"
                         width="100"
                         height="100"
                         style="margin:10px" />
                        </div>
                    }
                </div>
            </div>
        }


        @*@if (!string.IsNullOrEmpty(PreviewImagePath) && !parsing && previewImages.Count>0)
        {
        <div class="card">

        <div class="card-body">
        @foreach (var image in previewImages)
        {
        <center>
        <img class="img-fluid"
        src="@image" />
        </center>
        }
        </div>
        </div>
        }*@
    </ModalBody>
</ShowModal>

@if (ShowCroper)
{
    <ShowModal Title="Kırpma İşlemleri" IsOpened="isOpened">
        <ModalBody>
            <div class="card">
                <div class="card-body py-0">
                    <Cropper CropperHeight="500"
                         InitCropWidth="200"
                         IsCropLocked="isCropLocked"
                         IsImageLocked="isImageLocked"
                         InitCropHeight="200"
                         MaxCropedHeight="1080"
                         MaxCropedWidth="1920"
                         @ref="cropper"
                         AspectRatio="proportion==0?1:proportion"
                         RequireAspectRatio="bool.Parse(enableProportion)"
                         PureCSharpProcessing="true"
                         InputId="input1"
                         ImageFile="browserFileResizer"
                         @bind-Ratio="ratio"
                         OnSizeChanged="HandleCropSizeChanged"
                         AnimeGifEnable="true">
                    </Cropper>
                </div>
                @* <div class="card-footer text-center justify-content-center">
            @if (cropper != null)
            {
            <input type="range"
            min="@(cropper.MinRatio*100)"
            max="@(cropper.MaxRatio*100)"
            value="@(ratio*100)"
            @oninput="OnRatioChange"
            placeholder="Büyütme Aralığı" />
            }
            </div>*@
                <div class="card-footer flex-column">
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            Kırpma Boyutu
                        </div>
                        <span class="input-group-text">Genişlik (px)</span>
                        <div class="form-control">@CropCurrentWidth</div>
                        <span class="input-group-text">Yükseklik (px)</span>
                        <div class="form-control">@CropCurrentHeight</div>
                    </div>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input @bind="IsAspectRatioEnabled"
                               class="form-check-input mt-0"
                               type="checkbox"
                               value=""
                               aria-label="Checkbox for following text input">
                        </div>
                        <span class="input-group-text">En Boy Oranı</span>
                        <input @onchange="OnAspectWidthChanged"
                           value="@AspectWidth"
                           type="number"
                           class="form-control"
                           placeholder="Genişlik Değeri Girin">
                        <span class="input-group-text fw-bold">:</span>
                        <input @onchange="OnAspectHeightChanged"
                           value="@AspectHeight"
                           type="number"
                           class="form-control"
                           placeholder="Yükseklik Değeri Girin">
                    </div>
                </div>
            </div>
        </ModalBody>
        <ModalFooter>
            <div class="card-footer">
                <button class="btn btn-success me-1" @onclick="@(async () => { isOpened = true;  await DoneCrop(); })">
                    Değişiklikleri Onayla
                </button>
                @*<button class="btn btn-danger" @onclick="@(async () => { await CancelCropAsync(); })">
                    Vazgeç
                </button>*@
            </div>
        </ModalFooter>
    </ShowModal>
}