@page "/duyuru/ekle"
@page "/duyuru/duzenle/{duyuruId:int}"
@inherits DuyuruEkleDuzenleModel


<div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Duyuru @Title
        </CardHeader>
        <CardBody>
            <EditForm Model="@duyuru" OnValidSubmit="DuyuruKayit">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <label class="control-label col-md-12">Resim</label>
                    <div class="col-md-4">
                        <InputText class="form-control" @bind-Value="duyuru.DosyaYolu" />
                    </div>
                    <ValidationMessage For="@(() => duyuru.DosyaYolu)" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Image</label>
                    <ImageResizer></ImageResizer>
                    <ValidationMessage For="@(() => duyuru.DosyaYolu)" />
                </div>
                

                <div class="form-group row">
                    <label class="control-label col-md-12">Duyuru Adı</label>
                    <div class="col-md-4">
                        <InputText class="form-control" @bind-Value="duyuru.Adi" />
                    </div>
                    <ValidationMessage For="@(() => duyuru.Adi)" />
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-12">Duyuru Alt Başlığı</label>
                    <div class="col-md-4">
                        <InputText class="form-control" @bind-Value="duyuru.AltBaslik" />
                    </div>
                    <ValidationMessage For="@(() => duyuru.AltBaslik)" />
                </div>

                <div class="form-group row">
                    <label class="control-label col-md-12">Açıklama</label>
                    <div class="col-md-4">
                        <InputText class="form-control" @bind-Value="duyuru.Aciklama" />
                    </div>
                    <ValidationMessage For="@(() => duyuru.Aciklama)" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <button class="btn btn-light" @onclick="Cancel">Vazgeç</button>
                </div>
            </EditForm>

        </CardBody>
    </CardComponent>

</div>





<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>