@page "/duyuru/ekle"
@page "/duyuru/duzenle/{duyuruId:int}"
@inherits DuyuruEkleDuzenleModel


<h1>Duyuru @Title</h1>
<hr />

<EditForm Model="@duyuru" OnValidSubmit="DuyuruKayit">
    <DataAnnotationsValidator />
    
    <div class="form-group row">
        <label class="control-label col-md-12">Resim</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="duyuru.DosyaYolu" />
        </div>
        <ValidationMessage For="@(() => duyuru.DosyaYolu)" />
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12">Duyuru Adı</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="duyuru.Adi" />
        </div>
        <ValidationMessage For="@(() => duyuru.Adi)" />
    </div>

    <div class="form-group row">
        <label class="control-label col-md-12">Açıklama</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="duyuru.Aciklama" />
        </div>
        <ValidationMessage For="@(() => duyuru.Aciklama)" />
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>
        <button class="btn btn-light" @onclick="Cancel">Vazgeç</button>
    </div>
</EditForm>
