@page "/haberler"
@inherits HaberModeli


@if (haberler == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var haber in haberler)
            {

                <div class="col-12 col-md-4 col-lg-4">
                    <article class="article article-style-c">
                        <div class="author-box-center align-center">
                            <img width="510" height="400" alt="@haber.Adi" src="/img/uploaded/@haber.DosyaYolu" class="author-box-picture">
                            <div class="clearfix"></div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="@($"haber/detay/{haber.Id}")">Haber</a>
                                <div class="bullet"></div> <a>@haber.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h2><a href="@($"haber/detay/{haber.Id}")">@haber.Adi</a></h2>
                            </div>
                            <div class="article-title">
                                <h2><a>@haber.AltBaslik</a></h2>
                            </div>
                            <p>
                                @haber.Aciklama
                            </p>

                            <div class="article-cta">
                                <a href="@($"haber/detay/{haber.Id}")" class="btn btn-primary fas fa-chevron-right">Haber Detayı</a>
                            </div>

                        </div>
                    </article>
                </div>
            }

        </div>
    </div>

}
