@page "/anket/{id:int}"


<div class="col-lg-12 col-sm-12 col-md-6 col-xs-12">
    <CardComponent class="card text-center">
        <CardHeader>
            @SurveyVM.SurveyName
        </CardHeader>
        <CardBody>

            @if (!isReady)
            {
                <p>Yükleniyor...</p>
            }
            else
            {
                <EditForm Model="SurveyVM" OnValidSubmit="SubmitSurvey">
                    <DataAnnotationsValidator />
                    <div class="row justify-content-center">
                        <ValidationSummary />
                    </div>

                    <div class="row justify-content-center">@(SurveyVM.SurveyQuestion)?</div>
                    <div class="row justify-content-center mt-3">



                        <div class="form-group">
                            <div>
                              @foreach (var option in SurveyVM.SurveyOptions)
                                {
                                    <div class="row">
                                        <input class="form-check-input" type="radio"
                                               name="SurveyOption"
                                               value="@option.SurveyOptionId"
                                               checked="@(SurveyVM.SelectedOption == option.SurveyOptionId.ToString())"
                                               @onchange="@(() => UpdateSelectedValue(option.SurveyOptionId.ToString()))" />
                                        <label class="form-check-label">@option.Description</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center my-3">
                        <input type="submit" class="btn btn-primary" value="Gönder" />
                    </div>

                </EditForm>
            }

        </CardBody>
        <CardFotter>
            @(SurveyVM == null ?  "" : SurveyVM.CreatedOn.ToShortDateString()) tarihinde oluşturuldu.
        </CardFotter>
    </CardComponent>
</div>


<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>