@page "/anket/{id:int}"


<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            @SurveyVM.SurveyName
        </div>
        <div class="card-body">

            @if (!isReady)
            {
                <p>Yükleniyor...</p>
            }
            else
            {
                <EditForm Model="SurveyVM" OnValidSubmit="SubmitSurvey">
                    <DataAnnotationsValidator />
                    <div class="row justify-content-center">
                        <ValidationSummary />
                    </div>

                    <div class="row justify-content-center">@(SurveyVM.SurveyQuestion)?</div>
                    <div class="row justify-content-center mt-3">



                        <div class="form-group">
                            <div>
                              @foreach (var option in SurveyVM.SurveyOptions)
                                {
                                    <div class="row">
                                        <input class="form-check-input" type="radio"
                                               name="SurveyOption"
                                               value="@option.SurveyOptionId"
                                               checked="@(SurveyVM.SelectedOption == option.SurveyOptionId.ToString())"
                                               @onchange="@(() => UpdateSelectedValue(option.SurveyOptionId.ToString()))" />
                                        <label class="form-check-label">@option.Description</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center my-3">
                        <input type="submit" class="btn btn-primary" value="Gönder" />
                    </div>

                </EditForm>
            }

        </div>
        <div class="card-footer text-muted">
            @(SurveyVM == null ?  "" : SurveyVM.CreatedOn.ToShortDateString()) tarihinde oluşturuldu.
        </div>
    </div>
</div>


