@page "/anket/{id:int}"


<div class="col-lg-12 col-sm-12 col-md-6 col-xs-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            @AnketVm.Adi
        </CardHeader>
        <CardBody>

            @if (!isReady)
            {
                <p>Yükleniyor...</p> 
            }
            else
            {
                <EditForm Model="AnketVm" OnValidSubmit="AnketGonder">
                    <DataAnnotationsValidator />
                    <div class="row justify-content-center">
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                    </div>
                    <br />
                    <div class="row justify-content-center">@(AnketVm.AnketSorusu)?</div>
                    <br />
                    <div class="row justify-content-center mt-3">
                        <div class="form-group">

                            @foreach (var anket in AnketVm.AnketSecenekleri)
                            {
                                <div class="row">
                                    <input style="margin-bottom:10px"
                                        class="form-check-input" 
                                        type="radio"
                                        name="SurveyOption"
                                        value="@anket.AnketSecenekId"
                                        checked="@(AnketVm.SecilenSecenek == anket.AnketSecenekId.ToString())"
                                        @onchange="@(() => SecilenDegeriGuncelle(anket.AnketSecenekId.ToString()))" />
                                 <label class="form-check-label">@anket.Aciklama</label>
                                    <br /><br />
                                </div>
                             }
                        </div>
                    </div>

                <div class="row justify-content-center my-3">
                    <input type="submit" class="btn btn-primary" value="Gönder" />
                </div>

                </EditForm>
            }

        </CardBody>
        <CardFotter>
            @(AnketVm == null ?  "" : AnketVm.OlusturulmaTarihi.ToShortDateString()) tarihinde oluşturuldu.
        </CardFotter>
    </CardComponent>
</div>


<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>