@page "/duyurular"
@inherits DuyuruModeli


@if (duyurular == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var duyuru in duyurular.Where(d => d.Kategori.TextHaberDuyuru() == "Duyuru" && d.AktifPasif == true))
            {

                <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <article class="article article-style-c">
                        <div class="author-box-center align-center">
                            <img width="200" height="200" alt="@duyuru.Adi" src="/img/uploaded/@duyuru.Dosya.FirstOrDefault()?.Yolu" class="rounded-circle author-box-picture">
                            <div class="clearfix"></div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="duyuru/detay/@duyuru.Id">Duyuru</a>
                                <div class="bullet"></div> <a>@duyuru.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h1 class="article-style-b">
                                    <a href="duyuru/detay/@duyuru.Id">


                                        @if (duyuru.Adi != null)
                                        {
                                            <MarkDownComponent Content="@(duyuru.Adi.Length>60 ? duyuru.Adi.Substring(0, 27) + "..." : duyuru.Adi)" />
                                        }
                                    </a>
                                </h1>
                            </div>
                            <div name="HaberAltBaslik" class="article-title">
                                <p class="alert-title">

                                    @if (duyuru.AltBaslik != null)
                                    {
                                        <MarkDownComponent Content="@(duyuru.AltBaslik.Length>60 ? duyuru.AltBaslik.Substring(0, 45) + "..." : duyuru.AltBaslik)" />
                                    }
                                </p>
                            </div>
                            <p name="HaberAciklama" class="accordion-header">

                                @if (duyuru.Aciklama != null)
                                {
                                    <MarkDownComponent Content="@(duyuru.Aciklama.Length>500 ? duyuru.Aciklama.Substring(0, 280) + "..." : duyuru.Aciklama)" />
                                }
                            </p>


                        </div>

                    </article>
                </div>
            }

        </div>
    </div>

}

<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>