@page "/mevzuatdetay/{mevzuatId:int}"

<div class="col-12">
    <CardComponent cardStyle="Style.primary">


        <CardBody>
            @if (MevzuatDetayGetir != null)
            {

<div class="boxs mail_listing">
    <div class="inbox-body no-pad">
        <section class="mail-list">
            <div class="mail-sender">
                <div class="mail-heading">
                    <h4 class="vew-mail-header">
                        <b>@MevzuatDetayGetir.Adi</b>
                    </h4>
                </div>
                <hr>
                <div class="media">
                    <a href="#" class="table-img m-r-15">
                        <img alt="image" 
                             src="~/images/uploaded/@MevzuatDetayDosya?.Yolu" 
                             class="rounded-circle" 
                             width="35" 
                             data-toggle="tooltip" 
                             title="" 
                             data-original-title="@MevzuatDetayGetir.KaydedenKullanici">
                    </a>
                    <div class="media-body">
                        <span class="date pull-right">@MevzuatDetayGetir.KayitTarihi</span>
                        <h5 class="text-primary">@MevzuatDetayGetir.KaydedenKullanici</h5>
                        <small class="text-muted">From: emrullah04@outlook.com</small>
                    </div>
                </div>
            </div>
            <div class="view-mail p-t-20">
                <p>
                    @((MarkupString) MevzuatDetayGetir.Aciklama)
                </p>
                <br />
                <p>
                    Geçerlilik Tarihi
                </p>
                <br />

                <p>
                    Alınan Kararlar
                </p>
                <br />

            </div>
            <div class="attachment-mail">
                <p>
                    <span>
                        <i class="fa fa-paperclip"></i> 3 Sunum ve Dökümanlar —
                    </span>
                    <a href="#">Tüm Ekleri İndir</a> |
                    <a href="#">Tümünü Gör</a>
                </p>
                <div class="row">
                    <div class="col-md-2">
                        <a href="#">
                            <img class="img-thumbnail img-responsive" 
                                 alt="attachment" 
                                 src="assets/img/users/user-1.png">
                        </a>
                        <a class="name" href="#">
                            IMG_001.png
                            <span>20KB</span>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img class="img-thumbnail img-responsive" 
                                 alt="attachment" 
                                 src="assets/img/users/user-3.png">
                        </a>
                        <a class="name" href="#">
                            IMG_002.png
                            <span>22KB</span>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="#">
                            <img class="img-thumbnail img-responsive" 
                                 alt="attachment" 
                                 src="assets/img/users/user-4.png">
                        </a>
                        <a class="name" href="#">
                            IMG_003.png
                            <span>28KB</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="replyBox m-t-20">
                <p class="p-b-20">
                    Merakınızı Gidermek İçin
                    <a href="#">Soru Sor</a> ile bize yazbilirsiniz...

                </p>
            </div>
        </section>
    </div>
</div>}
        </CardBody>
    </CardComponent>

</div>


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
