@page "/toplantinotdetayi/{ToplantiNotId:int}"


<div class="col-12">
    <CardComponent cardStyle=Style.primary>
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    <b>Toplantı Not Detayı</b>
                </div>
            </div>
        </CardHeader>
        <CardBody>
            @{if (NotVeKararDetayi != null)
                {
                    <div class="inbox-body no-pad">
                        <section class="mail-list">
                            <div class="mail-sender">
                                <div class="media">
                                    <a href="#"
                                       class="table-img m-r-15">
                                        <img alt="image"
                                             src="assets/img/users/user-2.png"
                                             class="rounded-circle"
                                             width="35"
                                             data-toggle="tooltip"
                                             title="@NotVeKararDetayi.Toplanti?.Kullanici.FirstOrDefault().FirstName">
                                    </a>
                                    <div class="media-body">
                                        <span class="date pull-right">@NotVeKararDetayi.Toplanti?.ToplantiTarihi.Date.ToShortDateString()</span>
                                        <h5 class="text-primary">@NotVeKararDetayi.KaydedenKullanici</h5>
                                        <small class="text-muted">From: @NotVeKararDetayi.Toplanti?.Kullanici.FirstOrDefault().Email</small>
                                    </div>
                                </div>
                            </div>
                            <div class="view-mail p-t-20">
                                <p>
                                    <Strong>Toplantı Başlığı :</Strong>
                                    @NotVeKararDetayi.Baslik
                                </p>
                                <br />
                                <p>
                                    <Strong>Toplantı Madeleri ve Alınan Kararlar</Strong> <br /><br />
                                    @((MarkupString)NotVeKararDetayi.Aciklama)

                                </p>
                                <br />
                            </div>
                        </section>
                    </div>
                    }
            }

        </CardBody>
    </CardComponent>

</div>


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
