@page "/etkinlikler"

<div class="row row-cols-1 row-cols-md-3 g-4">
    @{ if (EtkinlikDurum != null)
        {
            foreach (var etkinlikDurum in EtkinlikDurum)
            {
<div class="col">
    <div class="card h-100">
        <img class="card-img-top" src="@etkinlikDurum.EtkinlikResmi" alt="etkinlikDurum.EtkinlikAdi"/>
        <ImageComponent CssClass="card-img-top" Src="@etkinlikDurum.EtkinlikResmi" AltText="etkinlikDurum.EtkinlikAdi" />
        <div class="card-body">
            <h5 class="card-title">@etkinlikDurum.EtkinlikAdi</h5>
            <p class="card-text">@etkinlikDurum.EtkinlikAciklama</p>
            <div class="d-flex justify-content-between">
                <a class="btn btn-info" href="@($"etkinlik/detay/{etkinlikDurum.Id}")">
                    <i class="fas fa-info-circle"></i> Detayları Gör
                </a>

            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">3 Dakika Önce Eklendi</small>
        </div>
    </div>
</div> }

            } }
</div>
