@page "/tumdovizler"
@using System.Data;
@using System;
@using VedasPortal.Services.Doviz;

<div class="col-12">
    <CardComponent cardStyle="Style.info">
        <CardHeader>
            <h4>Döviz Değişimleri Tablosu</h4>
        </CardHeader>
        <CardBody>
            <div class="table-responsive">
                <table class="table table-striped" id="table-1">
                    <thead>
                        <tr>
                            <th class="text-center">
                                #
                            </th>
                            <th>Döviz Kodu</th>
                            <th>Döviz Adı</th>
                            <th>Döviz Alış</th>
                            <th>Döviz Satış</th>
                            <th>Efektif Alış</th>
                            <th>Efektif Satış</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in DovizDegisimleri.AsEnumerable())
                            {
                        <tr>
                            <td>
                            </td>
                            <td @key="@item.Key">
                                @item.Value.DovizKodu
                            </td>
                            <td @key="@item.Key">
                                @item.Value.DovizAdi
                            </td>

                            <td @key="@item.Key">
                                @item.Value.DovizAlis
                            </td>

                            <td @key="@item.Key">
                                @item.Value.DovizSatis
                            </td>

                            <td @key="@item.Key">
                                @item.Value.EfektifAlis
                            </td>
                            <td @key="@item.Key">
                                @item.Value.EfektifSatis
                            </td>
                            
                        </tr>

                            }

                    </tbody>
                </table>
            </div>
        </CardBody>
    </CardComponent>
</div>

@code {

    Dictionary<string, DovizKurlari> DovizDegisimleri = DovizDegisimleriServisi.TumDovizDegisimleriniGetir();

}


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>