@page "/Vefatlar"
@inherits Vefat

@if (VefatDurum == null)

{
    <p><em>Yükleniyor...</em></p> }

else

{

    <div class="col-12">
        <CardComponent cardStyle="Style.dark">
            <CardHeader>
                Vefat ve Başsağlığı Duyuruları
            </CardHeader>
            <CardBody>
                <div class="row">
                    @foreach (var vefatDurumu in VefatDurum.Where(a => a.PersonelDurumu.TextPersonelDurumu() == "Vefat Durumu" &&
                                                                  a.AktifPasif == true))
                    {
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4">

                        <article class="article article-style-b">
                            <div class="author-box-center align-center">
                                <img width="470"
                                     height="250"
                                     alt="image"
                                     src="/images/vefatvebassagligi.jpg"
                                     class="author-box-picture">
                                <div class="clearfix"></div>
                            </div>

                            <div style="margin-top:-20px" class="article-details">

                                <div>
                                    <h6 class="text-dark text-center">
                                        <br />
                                        <strong>
                                            VEDAŞ Ailesinin Değerli Üyeleri,
                                        </strong>
                                    </h6>
                                    <p class="text-dark text-center">
                                        <strong>
                                           @vefatDurumu.CalistigiYer  Müdürlüğü
                                        </strong>
                                        çalışanlarımızdan
                                        <strong>
                                            @vefatDurumu.AdSoyad
                                        </strong>'in
                                        <strong>@vefatDurumu.YakinlikDerecesi</strong>
                                        <strong>
                                            @vefatDurumu.YakininAdSoyadi
                                        </strong>
                                        vefat etmiştir.
                                    </p>
                                    <p class="text-dark text-center">
                                        Merhuma Allah'tan rahmet, ailesi ve yakınlarına başsağlığı dileriz.
                                    </p>
                                    <p class="text-dark text-center">
                                        <strong>
                                            Personel İletişim: @vefatDurumu.TelefonNo
                                        </strong>
                                    </p>
                                </div>
                            </div>
                        </article>

                    </div>
                     }
                </div>

            </CardBody>
        </CardComponent>
    </div>}


<style>
    .article .article-details {
        min-height: 220px;
        max-height: 290px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

