@page "/dosya/ekle"
@page "/dosya/duzenle/{dosyaId:int}"
@using Microsoft.AspNetCore.Hosting
@inherits DosyaModel
@attribute [Authorize(Roles = "Admin, DosyaEkleDuzenle")]

<div class="col-12">
    <EditForm Model="@dokuman" OnValidSubmit="Kayit">
        <DataAnnotationsValidator />
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                Dosya @Title
            </CardHeader>
            <CardBody>
                <div class="col-12">
                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 float-left">
                        <div class="form-group row">
                            <label class="form-label col-md-2">Dosya Seçin</label>
                            <div class="col-md-10">
                                <MultipleUpload @bind-ValueInput="@dokuman.Yolu" />
                            </div>
                        </div>
                                              
                        <div class="form-group row">
                            <label for="Kategori" class="control-label col-md-2">Kategori Seçin</label>
                            <div class="col-md-10">
                                <InputSelect @bind-Value="@dokuman.Kategori" class="form-control">
                                    <option></option>
                                    @if (Kategoriler != null)
                                    {
                                        @foreach (var kategori in Kategoriler)
                                        {
                                            <option value="@kategori.Key"> @kategori.Value </option>
                                        }
                                    }

                                </InputSelect>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="form-group row col-md-4">
                                <label class="control-label col-md-8">Dosya Şimdi Yayınlasın Mı?</label>
                                <div class="col-md-4">
                                    <InputCheckbox class="form-control" @bind-Value="dokuman.AktifPasif" />
                                </div>
                                <ValidationMessage For="@(() => dokuman.AktifPasif)" />
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 float-right">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <CKEditorBlazor Id="MyEditor1"
                                                @bind-Value=@dokuman.Aciklama
                                                Label="Açıklama"
                                                UrlToPostImage="images/uploaded/">
                                </CKEditorBlazor>

                            </div>
                            <ValidationMessage For="@(() => dokuman.Aciklama)" />
                        </div>
                    </div>
                </div>
            </CardBody>
            <CardFotter>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    
                </div>
            </CardFotter>
        </CardComponent>
    </EditForm>
</div>


@if (Dosyalar == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{

    <div class="col-12">

        <CardComponent cardStyle="Style.primary">

            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Dosyalar
                    </div>
                </div>

            </CardHeader>
            <CardBody>
                <div class="table-responsive">
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th class="text-center pt-3">
                                    <div class="custom-checkbox custom-checkbox-table custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                               class="custom-control-input" id="checkbox-all">
                                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Dosya</th>

                                <th>Dosya Adı</th>

                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var dosya in Dosyalar.Where(x => x.Uzanti == "Docx" ||
                      x.Uzanti == "pdf" ||
                      x.Uzanti == "pptx" ||
                      x.Uzanti == "Rar" ||
                      x.Uzanti == "Xlsx" ||
                      x.Uzanti == "Zip"




                      ).ToList())

                            {


                                <tr>
                                    <td class="text-center pt-2">
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                                   id="checkbox-1">
                                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="images/uploaded/@string.Concat(dosya.Adi,".",
                                                                   dosya.Uzanti)" width="50" height="50" />

                                    </td>

                                    <td>
                                        @string.Concat(dosya.Adi, ".",
                                                               dosya.Uzanti)
                                    </td>


                                    <td>
                                        <a href="@($"dosya/detay/{dosya.Id}")" class="btn btn-primary">Dosya Detayı</a>
                                        <a href='/dosya/duzenle/@dosya.Id'
                                           class="btn btn-info btn-outline-dark"
                                           role="button">
                                            Düzenle
                                        </a>
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                data-target="#deleteEmpModal"
                                                @onclick="@(() => {DialogGorunur="block"; SilmeyiOnayla(dosya.Id);})">
                                            Sil
                                        </button>
                                        <button class="btn btn-warning" @onclick="@(e=> ShowOnCurrentPage(dosya.FileId))">
                                            Görüntüle
                                        </button>
                                        
                                    </td>
                                </tr>



                            }
                        </tbody>
                    </table>
                    @if (!string.IsNullOrEmpty(pdfName))
                    {
                        <iframe src="/files/@string.Concat(Dosyalar.FirstOrDefault().Adi, ".",
                                                               Dosyalar.FirstOrDefault().Uzanti)" style="width:100%; height:1200px">
                        </iframe>
                    }
                </div>

            </CardBody>
        </CardComponent>

    </div>


    <ModalComponent @ref="ModalDialog">
        <ModalHeader>
            <h5>Bu veriyi silmek istediğinize emin misiniz ??</h5>
        </ModalHeader>

        <ModalFooter>
            <button class="btn btn-danger"
                    @onclick="@(()=>{Sil(); ModalDialog.Close();})">
                Evet
            </button>
            <button class="btn btn-warning"
                    @onclick="@(()=>{ModalDialog.Close();})">
                Hayır
            </button>
        </ModalFooter>
    </ModalComponent>

}


<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>