@page "/DuzelticiFaaliyetOlusturma"
@inherits DuzelticiFaaliyetlerModeli


@if (DuzelticiFaaliyet == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <CardComponent cardStyle="Style.primary">
            <CardHeader>

                <div class="float-left">
                    <div class="col-md-12">
                        Düzeltici ve Düzenleyici Faaliyetler |
                        <a href='/duzelticifaaliyet/ekle'
                           class="btn btn-primary"
                           role="button">
                            <i class="fa fa-user-plus"></i>
                            Duzeltici Faaliyet Ekle
                        </a>
                    </div>
                </div>
                <div style="margin-left:820px" class="float-right">
                    <div class="text-center bg-blue-100">
                        <input class="form-control" @bind-value="SearchText"
                               @bind-value:event="oninput" placeholder="Bu alanda arama yapın..." />
                    </div>
                </div>
            </CardHeader>
            <CardBody>
                <div class="row">

                    @if (!DuzelticiFaaliyet.Any())
                    {
                        <p>İçerik Aranıyor</p> }
                    else
                    {
                        @foreach (var dFaaliyet in FilteredFaaliyet.Where(x => x.AktifPasif == true).ToList())
                        {
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <!-- Support tickets -->
                                <div class="card">

                                    <div class="card-body">
                                        <div class="support-ticket media pb-1 mb-3">
                                            <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                                            <div class="media-body ml-3">
                                                @*<div class="badge badge-pill badge-success mb-1 float-right">
                                                    <a class="text-white" href="FaaliyetKategoriBilgisi">@dFaaliyet.Kategori</a>
                                                </div>*@
                                                <span class="font-weight-bold">@dFaaliyet.KonuEtiketi</span>
                                                <a href="javascript:void(0)">@dFaaliyet.IstekFaaliyetKonusu</a>
                                                <p class="my-1">
                                                    <img src="images/uploaded/@string.Concat(dFaaliyet.Dosya.FirstOrDefault().Adi,".",
                                                                   dFaaliyet.Dosya.FirstOrDefault().Uzanti)"
                                                         height="350"
                                                         width="600" />
                                                    @if (dFaaliyet.Aciklama != null)
                                                    {
                                                        <MarkDownComponent Content="@(dFaaliyet.Aciklama.Length>500 ?
                                                                                  dFaaliyet.Aciklama.Substring(0, 280) + "..." :
                                                                                  dFaaliyet.Aciklama)" />
                                                    }
                                                </p>
                                                <p class="my-1">@dFaaliyet.LokasyonBilgisi</p>
                                                <small class="text-muted">
                                                    Ekleyen <span class="font-weight-bold font-13">
                                                        @dFaaliyet.KaydedenKullanici
                                                    </span>
                                                    &nbsp;&nbsp; - @dFaaliyet.KayitTarihi
                                                </small>
                                            </div>
                                        </div>

                                    </div>
                                    <a href="duzelticifaaliyet/detay/@dFaaliyet.Id" class="card-footer card-link text-center small ">
                                        Tümünü Görüntüle
                                    </a>
                                    <a href='duzelticifaaliyet/duzenle/@dFaaliyet.Id'
                                       class="btn btn-sm btn-info btn-outline-dark "
                                       role="button">Faaliyeti Düzenle</a>

                                </div>
                                <!-- Support tickets -->
                            </div>

                        }

                    }

                </div>
            </CardBody>
        </CardComponent>
    </div>

}

<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

