@page "/vedasrehber"
@inherits VedasRehberModel


@if (Rehber == null)

{
    <p><em>Yükleniyor...</em></p> }

else

{
    <div class="col-12">
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Vedaş Personel Rehberi
                    </div>
                </div>
                <div style="margin-left:1080px" class="float-right">
                    <div class="text-center bg-blue-100">
                        <input class="form-control" @bind-value="SearchText"
                               @bind-value:event="oninput" placeholder="Bu alanda arama yapın..." />
                    </div>
                </div>
            </CardHeader>
            <CardBody>
                <div class="row">

                    @if (!Rehber.Any())
                    {
                        <p>İçerik Aranıyor</p> }
                    else
                    {
                        @foreach (var personel in FilteredRehber.Where(x => x.AktifPasif == true).ToList())
                        {

                            <div class="col-lg-3">
                                <div class="card client-card" id="minHeight">
                                    <div class="card-body text-center">
                                        <img src="images/uploaded/@string.Concat(
                                                                   personel.ImageFile.FirstOrDefault().Adi,
                                                                   ".",
                                                                   personel.ImageFile.FirstOrDefault().Uzanti)"
                                             height="200"
                                             width="200"
                                             alt="user"
                                             class="rounded-circle thumb-xl">
                                        <h5 class=" client-name">@personel.Adi - @personel.Soyadi </h5>
                                        <p class="text-muted text-center mt-3">@personel.Unvani</p>
                                        <span class="text-muted mr-3">
                                            <i class="dripicons-location mr-2 text-info"></i>@personel.Lokasyon
                                        </span>
                                        <span class="text-muted">
                                            <i class="dripicons-phone mr-2 text-info"></i>@personel.TelefonNo
                                        </span>
                                        <p class="text-muted text-center mt-3">@personel.Email</p>
                                    </div><!--end card-body-->
                                </div><!--end card-->
                            </div>
                        }

                    }

                </div>
            </CardBody>
        </CardComponent>
    </div>}


<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }
    #minHeight {
        min-height: 310px !important
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }

    .form-control {
        height: 31px;
        font-size: 13px;
        width: 220px;
        border-radius: 30px;
    }
</style>

