@page "/vedasrehber"
@inherits VedasRehberModel


@if (rehber == null)

{
<p><em>Yükleniyor...</em></p> }

            else

            {
<div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Vedaş Rehber
                </div>
            </div>
            <div style="margin-left:1050px;" class="float-right">
                <div class="float-left">
                    @*<input type="text" class="form-control" placeholder="Personel adı veya soyadı ile arama yapın..." @bind="SearchString"
        @bind:event="oninput" @onkeyup="FilterelemeYap" />*@
                    <SearchComp OnSearch="FilterelemeYap" />
                </div>
                @*<div class="float-right">
                    <div class="input-group-append">
                        <button class="btn btn-info" @onclick="FilterelemeYap">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>*@
               
            </div>
        </CardHeader>
        <CardBody>
            <div class="row">
                @foreach (var personel in rehber)
                {
<div class="card-statistic-4">
    <div class="align-items-center justify-content-between">
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                <div class="card-content">
                    <h5 class="font-15">@personel.Adi @personel.Soyadi</h5>
                    <h2 class="font-18">@personel.TelefonNo</h2>
                    <h2 class="font-18">@personel.Email</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                <div class="banner-img">
                    <img src="images/uploaded/@personel.Dosya.FirstOrDefault()?.Yolu" alt="@personel.Adi">
                </div>
            </div>
        </div>
    </div>
</div>                    }
            </div>

        </CardBody>
    </CardComponent>
</div>}


<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

