@page "/etkinlik/ekle"
@page "/etkinlik/duzenle/{etkinlikId:int}"
@inherits EtkinlikModeli
@attribute [Authorize(Roles = "Admin, EtkinlikEkleDuzenle")]

<div class="col-12">
    <EditForm Model="@etkinlik" OnValidSubmit="EtkinlikKayit">
        <DataAnnotationsValidator />
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                Etkinlik @Title
            </CardHeader>
            <CardBody>
                <div class="col-12">
                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 float-left">
                        <div class="form-group row">
                            <label class="form-label col-md-2">Resim Seçin</label>
                            <div class="col-md-10">
                                <ImageResizer @bind-ValueInput="@EtkinlikDosya.Yolu" />
                                @if (!string.IsNullOrEmpty(etkinlik.Dosya?.FirstOrDefault().Yolu.ToString()))
                                {
                                    <img src="@("images/uploaded/"+@etkinlik.Dosya?.FirstOrDefault().Yolu)"
                                     height="150" />
                                }
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Etkinlik Adı</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="etkinlik.Adi" />
                            </div>
                            <ValidationMessage For="@(() => etkinlik.Adi)" />
                        </div>
                        <div class="form-group row">
                            <label for="Kategori" class="control-label col-md-2">Kategori Seçin</label>
                            <div class="col-md-10">
                                <InputSelect @bind-Value="@etkinlik.Kategori" class="form-control">
                                    <option></option>
                                    @if (Kategoriler != null)
                                    {
                                        @foreach (var kategori in Kategoriler)
                                        {
                                            <option value="@kategori.Key"> @kategori.Value </option>
                                        }
                                    }

                                </InputSelect>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Kategori" class="control-label col-md-2">Katılacak Personel/Birim Seçin</label>
                            <div class="col-md-10">
                                <InputSelect @bind-Value="@etkinlik.KKategori" class="form-control">
                                    <option></option>
                                    @if (KatilacakPersonel != null)
                                    {
                                        @foreach (var kategori in KatilacakPersonel)
                                        {
                                            <option value="@kategori.Key"> @kategori.Value </option>
                                        }
                                    }

                                </InputSelect>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="form-group row col-md-4">
                                <label class="control-label col-md-8">Etkinlik Şimdi Yayınlasın Mı?</label>
                                <div class="col-md-4">
                                    <InputCheckbox class="form-control" @bind-Value="etkinlik.AktifPasif" />
                                </div>
                                <ValidationMessage For="@(() => etkinlik.AktifPasif)" />
                            </div>
                            <div class="form-group row col-md-4">
                                <label class="control-label col-md-8">Etkinlik Kutusuna Eklensin Mi?</label>
                                <div class="col-md-4">
                                    <InputCheckbox class="form-control" @bind-Value="etkinlik.SliderdaGoster" />
                                </div>
                                <ValidationMessage For="@(() => etkinlik.SliderdaGoster)" />

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12 float-right">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <CKEditorBlazor Id="MyEditor1"
                                                @bind-Value=@etkinlik.Aciklama
                                                Label="Açıklama"
                                                UrlToPostImage="images/uploaded/">
                                </CKEditorBlazor>

                            </div>
                            <ValidationMessage For="@(() => etkinlik.Aciklama)" />
                        </div>
                    </div>
                </div>
            </CardBody>
            <CardFotter>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            >
                        Kaydet
                    </button>
                    
                </div>
            </CardFotter>
        </CardComponent>
    </EditForm>
</div>


@if (Etkinlikler == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{

    <div class="col-12">

        <CardComponent cardStyle="Style.primary">

            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Etkinlikler
                    </div>
                </div>

            </CardHeader>
            <CardBody>
                <div class="table-responsive">
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th class="text-center pt-3">
                                    <div class="custom-checkbox custom-checkbox-table custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                           class="custom-control-input" id="checkbox-all">
                                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Resim</th>

                                <th>Etkinlik Adı</th>

                                <th>Katılacak Birim</th>

                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>



                            @foreach (var etkinlik in Etkinlikler.Where(d => d.AktifPasif == true).ToList())

                            {


                                <tr>
                                    <td class="text-center pt-2">
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                           id="checkbox-1">
                                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="images/uploaded/@string.Concat(etkinlik.Dosya?.FirstOrDefault().Adi,".",
                                                                   etkinlik.Dosya?.FirstOrDefault().Uzanti)"
                                     width="50"
                                     height="50" />
                                    </td>

                                    <td>@etkinlik.Adi</td>

                                    <td>
                                        @etkinlik.KKategori
                                    </td>

                                    <td>
                                        <a href="@($"etkinlik/detay/{etkinlik.Id}")" class="btn btn-primary">Etkinlik Detayı</a>
                                        <a href='/etkinlik/duzenle/@etkinlik.Id' class="btn btn-info btn-outline-dark" role="button">Düzenle</a>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal"
                                        @onclick="@(() => {DialogGorunur="block"; SilmeyiOnayla(etkinlik.Id);})">
                                            Sil
                                        </button>
                                    </td>
                                </tr>



                            }
                        </tbody>
                    </table>
                </div>

            </CardBody>
        </CardComponent>

    </div>


    <ModalComponent @ref="ModalDialog">
        <ModalHeader>
            <h5>Bu veriyi silmek istediğinize emin misiniz ??</h5>
        </ModalHeader>

        <ModalFooter>
            <button class="btn btn-danger" @onclick="@(()=>{EtkinlikSil(); ModalDialog.Close();})">Evet</button>
            <button class="btn btn-warning" @onclick="@(()=>{ModalDialog.Close();})">Hayır</button>
        </ModalFooter>
    </ModalComponent>

}


<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>