
<tr>
    <td><img src="@imageSrc" width="50" /></td>
    <td class="w-50">@Item.Description</td>
    <td class="w-100 px-1">
        <div class="progress">
            <div class="progress-bar featured-progress-bar" role="progressbar" 
            style="width: @(totalPercentage)%" aria-valuenow="@totalPercentage" 
            aria-valuemin="0" aria-valuemax="100">@(totalPercentage)%</div>
        </div>
    </td>
</tr>


