<div class="col-lg-12 col-sm-12 col-md-6 col-xs-12 ">
    <CardComponent cardStyle="Style.info">
        <CardHeader>
            Anketi Düzenleme Formu
        </CardHeader>
        <CardBody>

            @if (!isReady)
            {
                <p>Yükleniyor...</p>
            }
            else
            {
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">
                        <EditForm Model="AnketGuncelle" OnValidSubmit="AnketiDuzenle">
                            <DataAnnotationsValidator />
                        
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="bs-form-label" for="surveyName">Anket Adı</label>
                                    <InputText id="surveyName" class="form-control" 
                                               @bind-Value="@AnketGuncelle.Adi" />
                                    <ValidationMessage For="@(() => AnketGuncelle.Adi)" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="bs-form-label" for="surveyDescription">Açıklama</label>
                                    <InputText id="surveyDescription" class="form-control" 
                                               @bind-Value="@AnketGuncelle.Aciklama" />
                                    <ValidationMessage For="@(() => AnketGuncelle.Aciklama)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="bs-form-label" for="surveyQuestion">Anket Sorusu</label>
                                    <InputTextArea rows="10" id="surveyQuestion" class="form-control" 
                                                   @bind-Value="@AnketGuncelle.AnketSorusu" />
                                    <ValidationMessage For="@(() => AnketGuncelle.AnketSorusu)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col"><button type="button" 
                                                                    class="btn btn-sm btn-primary" 
                                                                    @onclick="SecenekEkle">
                                                Seçenek Ekle</button>
                                            </th>
                                            <th scope="col">Seçenekler</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @if (AnketGuncelle.AnketSecenekleri.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="2">Lütfen en az iki seçenek ekleyin!</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var option in AnketGuncelle.AnketSecenekleri)
                                            {
                                                <tr>
                                                    <td><button type="button" 
                                                                class="btn btn-danger btn-sm" 
                                                                @onclick="(()=> SecenekSil(Int32.Parse(option.Value)))">
                                                        Sil
                                                        </button>
                                                    </td>
                                                    <td>@option.Text</td>
                                                </tr>
                                            }
                                        }
                                        </tbody>
                                    </table>
                                    <div class="justify-content-center">
                                        <ValidationMessage For="@(() => AnketGuncelle.AnketSecenekleri)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-check row">
                                <div class="d-flex align-items-start">
                                    <InputCheckbox class="mr-3 align-self-center mb-1" 
                                                   @bind-Value="@AnketGuncelle.SecilenAnketMi" /> 
                                    <label class="form-check-label">
                                    Öne Çıkarılsın Mı??
                                    </label>
                                </div>

                            </div>

                            <div class="form-group row my-3 ml-3">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-success" value="Değişiklikleri Onayla" />
                                    <input type="button" class="btn btn-danger" value="Vazgeç" @onclick="CancelUpdate" />
                                </div>

                            </div>

                        </EditForm>
                    </div>
                </div>
            }

        </CardBody>
        <CardFotter>
            <p></p>
        </CardFotter>
    </CardComponent>
</div>

<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>