@using VedasPortal.Entities.Models.Dosya

<div class="component-box">
    <VideoPlayerComponent Width="@Width.ToString()"
                          Heigth="@Heigth.ToString()"
                          Src="@Src.ToString()"
                          Href ="@Href.ToString()"
                          />
    <h3>@SecilenVideo.Adi</h3>
    <p>@SecilenVideo.KayitTarihi.ToString("D")</p>
    <hr />
    <br />
</div>
@code {

    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public Vidyo SecilenVideo { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public int Width { get; set; } = 1150;

    [Parameter]
    public int Heigth { get; set; } = 900;
}
