@using VedasPortal.Entities.Models.Dosya;

<BlazoredVideo @ref="video"
               PlayEvent="OnPlay"
               TimeUpate="OnTimeUpdate"
               VideoStateOptions="options"
               class="w-100"
               style="max-width:800px;"
               controls="controls"
               type ="@Type.ToString()"
               >
    <source src="files/@Src.ToString()"
            type="@Type.ToString()"
            />
</BlazoredVideo>

<div class="article-details">
    <div class="article-title">
        <h4><a href="@Href">@VideoBaslik</a></h4>
    </div>
    <p class="text-black">
        @((MarkupString) Aciklama)
    </p>

</div>

@code {

    BlazoredVideo video;

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public string Heigth { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Src { get; set; }
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string VideoBaslik { get; set; }

    [Parameter]
    public string Aciklama { get; set; }

    [Parameter]
    public Entities.Models.Dosya.Dosya SecilenVideo { get; set; }



    void OnPlay(VideoState state)
    {
        var url = state?.CurrentSrc;
        // do something with this
    }
    void OnTimeUpdate(VideoState state)
    {
        var url = state?.CurrentSrc;
        var currentTime = state?.CurrentTime;
        // do something with this
    }
}