@using VedasPortal.Entities.Models.Video

<div class="component-box">
    <VideoPlayerComponent Width="@Width.ToString()"
                          Heigth="@Heigth.ToString()"
                          Src="@Src"
                          />
    <h3>@SecilenVideo.Baslik</h3>
    <p>@SecilenVideo.KayitTarihi.ToString("D")</p>
    <hr />
    <br />
    <VideoYorumComponent Yorumlar="SecilenVideo.Yorum" />
</div>
@code {

    [Parameter]
    public Video SecilenVideo { get; set; } = new();

    [Parameter]
    public string Src { get; set; } = "files/sample.mp4";

    [Parameter]
    public int Width { get; set; } = 1150;

    [Parameter]
    public int Heigth { get; set; } = 900;
}
