@page "/kurs/ekle"
@page "/kurs/duzenle/{KursId:int}"
@inherits KursEklemeModeli
@attribute [Authorize]
<div class="col-12">
    <EditForm Model="@kursVeSertifika" OnValidSubmit="KayitAsync">
        <DataAnnotationsValidator />
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                Sertifika ve Kurs Bilgisi @Title
            </CardHeader>
            <CardBody>
                <div class="col-12">
                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12  float-left">

                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika/Kurs Kodu</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="kursVeSertifika.SertifikaKodu" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.SertifikaKodu)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika/Kurs Başlığı</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="kursVeSertifika.SertifikaBaslik" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.SertifikaBaslik)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Kursa Başlama Tarihi</label>
                            <div class="col-md-10">
                                <InputDate class="form-control" @bind-Value="kursVeSertifika.BaslamaTarihi" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.BaslamaTarihi)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Kurs Bitirme Tarihi</label>
                            <div class="col-md-10">
                                <InputDate class="form-control" @bind-Value="kursVeSertifika.BitisTarihi" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.BitisTarihi)" />
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika Geçerlilik Süresi</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="kursVeSertifika.GecerlilikSuresi" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.GecerlilikSuresi)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika/Kurs Url Adres</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="kursVeSertifika.SertifikaUrlAdres" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.SertifikaUrlAdres)" />
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika Veriliş Tarihi</label>
                            <div class="col-md-10">
                                <InputDate class="form-control" @bind-Value="kursVeSertifika.SertifikaVerilisTarihi" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.SertifikaVerilisTarihi)" />
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2">Sertifika/Kurs Veren Kuruluş</label>
                            <div class="col-md-10">
                                <InputText class="form-control" @bind-Value="kursVeSertifika.VerenKurum" />
                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.VerenKurum)" />
                        </div>

                    </div>

                    <div class="col-lg-6 col-sm-12 col-md-6 col-xs-12  float-right">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <CKEditorBlazor Id="MyEditor1"
                                                @bind-Value=@kursVeSertifika.Aciklama
                                                Label="Açıklama"
                                                UrlToPostImage="images/uploaded/">
                                </CKEditorBlazor>

                            </div>
                            <ValidationMessage For="@(() => kursVeSertifika.Aciklama)" />
                        </div>
                    </div>
                </div>
            </CardBody>
            <CardFotter>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </CardFotter>
        </CardComponent>
    </EditForm>
</div>

@if (Kurslar == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">

        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Kurs ve Sertifika Bilgileri
                    </div>
                </div>
            </CardHeader>
            <CardBody>
                <div class="table-responsive">
                    <table class="table table-striped" id="table-2">
                        <thead>
                            <tr>
                                <th class="text-center pt-3">
                                    <div class="custom-checkbox custom-checkbox-table custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                               class="custom-control-input" id="checkbox-all">
                                        <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th>Sertifika Kodu</th>

                                <th>Sertifika Başlığı</th>

                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kurs in Kurslar.Where(x => x.KaydedenKullanici == UserName))

                            {
                                <tr>
                                    <td class="text-center pt-2">
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                                   id="checkbox-1">
                                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>@kursVeSertifika.SertifikaKodu</td>

                                    <td>@kursVeSertifika.SertifikaBaslik</td>


                                    <td>
                                        <a href='/haber/duzenle/@kursVeSertifika.Id'
                                           class="btn btn-info btn-outline-dark"
                                           role="button">Düzenle</a>
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                data-target="#deleteEmpModal"
                                                @onclick="@(() => {DialogGorunur="block"; SilmeyiOnayla(kursVeSertifika.Id);})">
                                            Sil
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </CardBody>
        </CardComponent>
    </div>
    <ModalComponent @ref="ModalDialog">
        <ModalHeader>
            <h5>Bu veriyi silmek istediğinize emin misiniz ??</h5>
        </ModalHeader>

        <ModalFooter>
            <button class="btn btn-danger" @onclick="@(()=>{Sil(); ModalDialog.Close();})">Evet</button>
            <button class="btn btn-warning" @onclick="@(()=>{ModalDialog.Close();})">Hayır</button>
        </ModalFooter>
    </ModalComponent>
}

<style>
    .modal-content {
        max-width: 100%;
        border: none;
        margin-top: 200px;
        box-shadow: 0 3px 8px rgb(0 0 0 / 5%);
    }

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>